html, body, #root { height: 100%; margin: 0; }
* { box-sizing: border-box; }
@media (max-width: 980px) {
  main { grid-template-columns: 1fr !important; grid-template-rows: auto minmax(50vh,1fr) auto; }
}
